In [1]:
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint

### We are scrapping the top 100 songs from https://playback.fm/charts/top-100-songs from 2010 - 2016

In [2]:
iterations = range(2010, 2017, 1)
pages = []
for i in iterations:
    start_at= str(i)
    url = "https://playback.fm/charts/top-100-songs/"+ start_at +""
    print(url)
    response = requests.get(url)
    sleep_time = randint(0,5)
    sleep(sleep_time)
    pages.append(response)
    
#pages

https://playback.fm/charts/top-100-songs/2010
https://playback.fm/charts/top-100-songs/2011
https://playback.fm/charts/top-100-songs/2012
https://playback.fm/charts/top-100-songs/2013
https://playback.fm/charts/top-100-songs/2014
https://playback.fm/charts/top-100-songs/2015
https://playback.fm/charts/top-100-songs/2016

In [3]:
scrapped_pages,artists,songs  = [],[],[]
for i in range(0,len(pages)):
    soup = BeautifulSoup(pages[i].content, 'html.parser')
    
    for i in range(0,len(soup.select("a.artist"))):
        artists.append(soup.select("a.artist")[i].getText().strip())
        songs.append(soup.select("td.mobile-hide >a > span.song")[i].getText())
#print(artists)
print(len(artists))
#     for i in range(0,len(soup.select("td.mobile-hide"))):
#         songs.append(soup.select("td.mobile-hide >a > span.song")[i].getText())

#print(songs)
print(len(songs))

698
698

In [4]:
import pandas as pd
top_songs_and_artists = pd.DataFrame({'Artist':artists,'Song_Title':songs})
top_songs_and_artists

                      Artist                Song_Title
0           Eminem & Rihanna      Love The Way You Lie
1                 Bruno Mars      Just the Way You Are
2    Katy Perry & Snoop Dogg          California Gurls
3                 Katy Perry                  Firework
4                    Rihanna  Only girl (in the world)
..                       ...                       ...
693                 J Balvin                     Ginza
694                   Hozier         Take Me To Church
695             Joey Montana                     Picky
696                 Yo Gotti            Down In the DM
697                    Nelly                   The Fix

[698 rows x 2 columns]